<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div id="root">
      <%- include('navbar', {contacts: contacts}) %>
      <div id="detail">
        <p id="zero-state">
          This is a demo for Backend Routing
          <br />
          Check out the docs at<span> </span>
          <a href="https://reactrouter.com">
            reactrouter.com
          </a>
          .
        </p>
      </div>
    </div>
  </body>
</html>
